<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

  <div class="container mt-5">
    <h1 class="text-center mb-4">Elimina</h1>

    <!-- Botones de acción -->
    <div class="d-grid gap-3 col-6 mx-auto">
      <button class="btn btn-dark" id="eliminarAnimal">Eliminar último animal</button>
      <button class="btn btn-dark" id="eliminarProducto">Eliminar último producto</button>
      <button class="btn btn-dark" id="vaciarNumeros">Vacia el array</button>
    </div>

    <!-- Resultados -->
    <div class="mt-5">
      <h4>Resultados:</h4>
      <pre id="resultado"></pre>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
