<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Manipulación DOM</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="p-3">
  <h2 class="p-1 ">Eventos DHTML</h2>
  <div class="buttons">
    <button class="btn btn-danger" onclick="addH1()">Agregar H1</button>
    <button class="btn btn-danger" onclick="changeText()">Cambiar texto</button>
    <button class="btn btn-danger" onclick="changeColor()">Cambiar color</button>
    <button class="btn btn-danger" onclick="addImage()">Agregar imagen</button>
    <button class="btn btn-danger" onclick="changeImage()">Cambiar imagen</button>
    <button class="btn btn-danger" onclick="resizeImage()">Cambiar tamaño imagen</button>
  </div>

  <div id="content"></div>

  <script src="/js/script.js"></script>
</body>
</html>