body {
    font-family: Arial;
    padding: 20px;
  }
  
  .nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  #box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    line-height: 100px;
    text-align: center;
  }